var
parts
bin
lib
lib64
src
eggs
develop-eggs
htmlcov
include
downloads
installed_eggs
docs
*.orig
*.egg-info
*.pyo
*.pyc
*.swp
*.swo
*~
.coverage
.mr.developer.cfg
.installed.cfg
etc/adhocracy.ini
etc/rabbitmq-env.conf
etc/unthemed.ini
etc/vhost.conf
etc/sysv-init
etc/adhocracy-interactive.ini
mailsink
adhocracy-test-chroot
