#This buildout is for productive server.

[buildout]

extends = buildout_common.cfg
parts += 
    solr_download
    solr
    rabbitmq 
    rabbitmq_conf 
    libevent
    memcached
    memcached_setup
    supervisor


##############################################################################  
#Override settings from buildout_common.cfg    
##############################################################################  

[adhocracy_code]
repository = ssh://hg@bitbucket.org/liqd/adhocracy
branch = default
repository_theme = ssh://hg@bitbucket.org/liqd/adhocracy.enquete_theme
 
[domains]
main = adhocracy.lan
blog = staging_bundestag_blog.adhocracy.cc

[adhocracy_conf] 
recipe = collective.recipe.template[genshi]:genshi
input = ${buildout:directory}/etc/production.ini.in
output = ${buildout:directory}/etc/adhocracy.ini
rules = ${buildout:directory}/src/adhocracy.enquete_theme/adhocracy/enquete_theme/rules.xml
 
