#This buildout is for productive server.

[buildout]

extends = buildout_common.cfg
parts += 
    solr_download
    solr
    rabbitmq 
    rabbitmq_conf 
    libevent
    memcached
    memcached_setup
    supervisor


##############################################################################  
#Override settings from buildout_common.cfg    
##############################################################################  

[adhocracy]
sqlalchemy.url = postgresql://staging_adhocracy:18dubzzzddd__@localhost:5433/staging_adhocracy
secret = 2999999999999999992333DFFFUEIGFFFFFFFFFFFFFFFFj
email.from = mail@staging_bundestag.adhocracy.cc

[adhocracy_code]
repository = https://bitbucket.org/liqd/adhocracy
branch = default
repository_theme = ssh://hg@bitbucket.org/liqd/adhocracy.enquete_theme
 
[domains]
main = adhocracy.lan
blog = staticpages.enquetebeteiligung.de

[adhocracy_conf] 
recipe = collective.recipe.template[genshi]:genshi
input = ${buildout:directory}/etc/production.ini.in
output = ${buildout:directory}/etc/adhocracy.ini
rules = ${buildout:directory}/src/adhocracy.enquete_theme/adhocracy/enquete_theme/rules.xml
 
